body {
    font-family: "Nico Moji";
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 50px;
  }
  
  .container {
    background: #ffc1cc;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: double 4px  #ffffff;
    width: 600px;
    margin: 0 auto 20px;
  }
  .h1{
    text-align: center;
  }
  
  #place-list{
    color:black;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
  }
  .start-button {
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color: #cc99ff;
    width: 200px;
    height: 100px;
    border: double 4px #cc99ff;
    border-radius: 10%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px
  }

  .make-button{
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color: #71c460;
    width: 200px;
    height: 100px;
    border: double 4px #acff99;
    border-radius: 10%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px
  }